################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WordFinderSln/.vs
/WordFinderSln/WordFinder.Console/bin/Debug/net8.0
/WordFinderSln/WordFinder.Console/obj
/WordFinderSln/WordFinder.Console.UnitTests/bin/Debug/net8.0
/WordFinderSln/WordFinder.Console.UnitTests/obj
